


.common-BodyText {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #525f7f
}

.common-Button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease
}

.common-Button:focus,
.common-Button:hover {
    color: #7795f8;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08)
}

.common-Button:active {
    color: #555abf;
    background-color: #f6f9fc;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3);
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3)
}

.common-Pill {
    display: inline-block;
    padding: 4px 8px 3px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .03rem
}

#hero{
    position: relative;
    height: 100vh;
    padding-bottom: 0px;
}

#hero .hero-wrapper{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:600px;
    grid-gap: 20px;
    align-items: center;
    padding-top: 60px;
}

#hero .hero-wrapper .hero-content{
    justify-self: center;
    align-self: center;
    margin-left: 300px;
}


#hero .hero-wrapper h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff
}



@media (min-width:880px) {
    #hero .hero-wrapper h1 {
        font-size: 40px
    }
}

#hero .hero-wrapper p {
    margin-top: 20px;
    color:#fff;
}

@media (min-width:670px) {
    #hero .hero-wrapper p {
        max-width: 60%
    }
}

@media (min-width:880px) {
    #hero .hero-wrapper p {
        max-width: 100%
    }
}

#hero .hero-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    list-style:none;
    padding-left: 0px;
}

@media (min-width:670px) {
    #hero .hero-wrapper ul {
        margin-top: 65px
    }
}

#hero .hero-wrapper li:first-child a {
    margin-right: 23px;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36, 180, 126, .4)
}

#hero .hero-wrapper li:last-child {
    display: none
}

@media (min-width:670px) {
    #hero .hero-wrapper li:last-child {
        display: block
    }
    #hero .hero-wrapper li:last-child a {
        color: #7795f8
    }
} 



#stripes, #stripes span {
    position: absolute
}
#stripes {
    top: -120px;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%)
}
#stripes span {
    height: 50px
}
#stripes :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 50px;
    background: #4c29ff
}
#stripes :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 50px;
    background: #2be7ff
}
#stripes :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8
}
@media (min-width:670px) {
    #stripes span {
        height: 150px
    }
    #stripes :nth-child(1) {
        top: 0;
        background: #4750ff
    }
    #stripes :nth-child(2) {
        width: 16.66667%;
        top: 300px;
        bottom: auto;
        background: #0dcfff
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        right: auto;
        background: #11bdff
    }
}
@media (min-width:880px) {
    #stripes span {
        height: 190px
    }
    #stripes :nth-child(1) {
        width: 33.33333%;
        left: -16.66666%;
        background: #53f
    }
    #stripes :nth-child(2) {
        width: 33.33333%;
        top: 0;
        left: 16.66666%;
        right: auto;
        background: #4553ff
    }
    #stripes :nth-child(3) {
        width: 33.33333%;
        left: 49.99999%;
        bottom: auto;
        background: #4f40ff
    }
    #stripes :nth-child(4) {
        width: 33.33333%;
        top: 380px;
        right: -16.66666%;
        background: #25ddf5
    }
    #stripes :nth-child(5) {
        width: 33.33333%;
        bottom: 0;
        background: #1fa2ff
    }
}

#hero-img{
    
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}