
.container,
.container-lg {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%
}

.container,
.container-lg {
    max-width: 1040px
}

.common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f
}

.common-Button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    -webkit-transition: all .15s ease;
    transition: all .15s ease
}

.common-Button:focus,
.common-Button:hover {
    color: #7795f8;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08)
}

.common-Button:active {
    color: #555abf;
    background-color: #f6f9fc;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3);
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3)
}

.common-Pill {
    display: inline-block;
    padding: 4px 8px 3px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .03rem
}

@media (min-width:420px) {
    .common-Pill {
        margin-left: 16px
    }
}


#stripes,
#stripes span {
    position: absolute
}

#stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%)
}

#stripes span {
    height: 40px
}

#stripes:first-child {
    width: 50%;
    left: 50%;
    top: 40px;
    background: #4c29ff
}

#stripes:nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 40px;
    background: #2be7ff
}

#stripes:nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8
}

@media (min-width:670px) {
    #stripes span {
        height: 150px
    }
    #stripes:first-child {
        top: 0;
        background: #4750ff
    }
    #stripes:nth-child(2) {
        width: 16.66667%;
        width: calc(100% / 6);
        top: 300px;
        top: calc(150px * 2);
        bottom: auto;
        background: #0dcfff
    }
    #stripes:nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        right: auto;
        background: #11bdff
    }
}

@media (min-width:880px) {
    #stripes span {
        height: 190px
    }
    #stripes:first-child {
        width: 33.33333%;
        width: calc(100% / 3);
        left: -16.66666%;
        left: calc(calc(calc(100% / 3)/ 2) * -1);
        background: #53f
    }
    #stripes:nth-child(2) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 0;
        left: 16.66666%;
        left: calc(calc(100% / 3)/ 2);
        right: auto;
        background: #4553ff
    }
    #stripes:nth-child(3) {
        width: 33.33333%;
        width: calc(100% / 3);
        left: 49.99999%;
        left: calc(calc(calc(100% / 3)/ 2) + calc(100% / 3));
        bottom: auto;
        background: #4f40ff
    }
    #stripes:nth-child(4) {
        width: 33.33333%;
        width: calc(100% / 3);
        top: 380px;
        top: calc(190px * 2);
        right: -16.66666%;
        right: calc(calc(calc(100% / 3)/ 2) * -1);
        background: #25ddf5
    }
    #stripes:nth-child(5) {
        width: 33.33333%;
        width: calc(100% / 3);
        bottom: 0;
        background: #1fa2ff
    }
}

#intro {
    position: relative
}

@media (min-width:670px) {
    #intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 600px;
        height: calc(150px * 4)
    }
}

@media (min-width:880px) {
    #intro {
        height: 760px;
        height: calc(190px * 4)
    }
}

#intro .container-lg {
    padding-top: 70px;
    padding-bottom: 100px
}

@media (min-width:670px) {
    #intro .container-lg {
        margin-top: -7%;
        padding-top: 0;
        padding-bottom: 0
    }
}

#intro h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff
}



@media (min-width:880px) {
    #intro h1 {
        font-size: 40px
    }
}

#intro p {
    max-width: 500px;
    margin-top: 20px;
    color: #d9fcff
}

@media (min-width:670px) {
    #intro p {
        max-width: 60%
    }
}

@media (min-width:880px) {
    #intro p {
        max-width: 50%
    }
}

#intro ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px
}

@media (min-width:670px) {
    #intro ul {
        margin-top: 65px
    }
}

#intro li:first-child a {
    margin-right: 23px;
    color: #fff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px rgba(36, 180, 126, .4)
}

#intro li:last-child {
    display: none
}

@media (min-width:670px) {
    #intro li:last-child {
        display: block
    }
    #intro li:last-child a {
        color: #7795f8
    }
}
