/* #8898aa; */
#footer{
    position: relative;
    padding: 10px 0px;
    background: #f6f9fc;
    color:#8898aa; 
}
#footer .foot-header{
    font-size: 22px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid #2a2a2a
}
#footer .foot-menu{
    list-style: none;
    padding: 0px;
}
#footer .foot-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 17px;
}
#footer .foot-link svg{
    font-size: 22px;
    margin-right: 5px;
}
.creds{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

