#typeCard{
position: relative;

}

#typeCard .header-text{
    font-weight: 400;
    font-size: 60px;
    line-height: 32px;
    padding-bottom: 80px;
    color: #32325d;
}

.wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
}
.box span{
    margin-left: 10px;
}
.box-button{
    color: #fff;
    background: #6772e5;
    transition: all 300ms ease-in-out;
    box-shadow: 5px 5px 3px rgba(34,50,84,0.8);
}
.box-button:hover{
    color: #6772e5;
    background: #fff;
}
.common-BodyTitle {
   
    font-weight: 300;
    font-size: 50px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #32325d;
}

.common-BodyText {
    
    padding:20px 20px 20px 0px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f;
}



#stripesTwo  {
    display: grid;
    grid: repeat(5, 200px) / repeat(10, 1fr);
  }
  
  #stripesTwo span :nth-child(1) {
    grid-column: span 3;
  }
  
  #stripesTwo span :nth-child(2) {
    grid-area: 3 / span 3 / auto / -1;
  }
  
  #stripesTwo span :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
  }


#stripesTwo, #stripesTwo span {
    position: absolute
}
#stripesTwo {
    top: 315px;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* #stripesTwo span {
    height: 50px
}
#stripesTwo :nth-child(1) {
    width: 50%;
    left: 50%;
    top: 50px;
    background: #4c29ff
}
#stripesTwo :nth-child(2) {
    width: 14%;
    right: 0;
    bottom: 50px;
    background: #2be7ff
}
#stripesTwo :nth-child(3) {
    width: 25%;
    bottom: 0;
    right: 0;
    background: #a1ffc8
} */
