#trending {
    position: relative;
}
#trending .wrapper{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 10px;
}

#trending .cards{
    border-radius: 12px;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    /* padding: 30px; */
}
#trending .cards-content{
    position: relative;
    padding:5px;
}
#trending .cards-content .type{
    position: absolute;
    top: -30px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
#trending .cards-content span{
        font-size: 20px;
    }

#trending .box-img{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}

#trending .common-BodyTitle {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    line-height: 32px;
    font-size: 35px;
    color: #32325d;
}

#trending .common-BodyText {
    
    padding:5px 0px 20px 0px;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #525f7f
}
#trending .common-BodyText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding:20px 20px 20px 0px;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #525f7f
}
#trending .common-BodyText p{
    margin-bottom: 0px;
}


#trending .cards:hover{
    box-shadow:2px 0px 5px #000;
    
}
.react-rater-star{
   color:  #95a5a6
}
.react-rater-star.is-active{
    color:#e67e22;
}
#trending .slick-list{
    padding: 30px 0px ;
}

#trending .slick-slide{
    padding:0px 10px !important;
}



#stripesThree  {
    display: grid;
    grid: repeat(5, 200px) / repeat(10, 1fr);
  }
  
  #stripesThree span :nth-child(1) {
    grid-column: span 3;
  }
  
  #stripesThree span :nth-child(2) {
    grid-area: 3 / span 3 / auto / -1;
  }
  
  #stripesThree span :nth-child(3) {
    grid-row: 4;
    grid-column: span 5;
  }


#stripesThree, #stripesThree span {
    position: absolute
}
#stripesThree {
    top: 315px;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-image: linear-gradient(to right top, #00f2fe, #00e5ff, #2fd8ff, #50caff, #6bbbf8, #7cbbf4, #89bbef, #95bbea, #a5c8eb, #b7d4ec, #cce0ee, #e2ebf0);

  
}