#key-benefits{
    padding-top: 0px;
    padding: 0px
}

#key-benefits .header-text{
    font-weight: 400;
    font-size: 60px;
    line-height: 32px;
    padding-bottom: 80px;
    color: #32325d;
  }
#key-benefits .wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
}
#key-benefits .box-img{
    
    height: 200px;
}

#key-benefits .common-BodyTitle {
   
    font-weight: 500;
    font-size: 19px;
    line-height: 32px;
    color: #32325d
}

#key-benefits .common-BodyText {
    
    padding:20px 20px 20px 0px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f
}